.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;

    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.tile {
    margin-right: 8px;
    margin-left: 8px;
}

.content {
    display: flex;
    flex-direction: column;
}

.icon {
    border-radius: 12px;
    overflow: hidden;
}

.chess {
    background-color: var(--ui-chess-icon-color);
}

.mines {
    background-color: var(--ui-mines-icon-color);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;

    color: white;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.empty {
    display: flex;
    overflow: hidden;
    
    height: 64px;
    width: 64px;

    border-radius: 12px;
    border: 1px dashed var(--ui-colors-white);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-sizing: border-box;
}

@keyframes animate {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

.icon:hover {
    animation: animate 0.5s forwards;
}

.banner {
    display: flex;
    flex-direction: row;
    flex: 4;
}

.githubIcon {
    fill: var(--ui-colors-white);
}